.About{
width: 100%;
height: 750px;
background: linear-gradient(0deg, rgba(171,208,236,1) 24%, rgba(255,229,200,0.896796218487395) 100%);

}
.About_title{

display: flex;
width: 100%;
height: 10%;
/* background-color:blue ; */
align-items: center;
justify-content: center;
font-family: Arial, Helvetica, sans-serif;
color: rgb(255, 94, 0);
/* font-family: ; */


}
.About_decription{
 /* background-color: rgb(48, 36, 21); */
width:100%;
height: 65%;
display: flex;
justify-content: center;
align-items: center;
}

.About_decription p{
    font-size: 20px;
    margin-left:25%;
    margin-right:25%;
    color: rgb(10, 11, 22);
    font-family: Garamond, serif;
    font-weight: 600;
    /* font-family: Arial, Helvetica, sans-serif, serif; */
    line-height: 34px;   /* within paragraph */

}
.About_skills{
display: flex;
flex-direction: column;
width: 100%;
height: 40%;


}

.About_skills{
    display: flex;
    flex-direction: column;
}
.About_skills-basice,.About_skills-farmwoks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.About_skills_icon{
width: 60px;
height: 50px;
color: rgb(6, 1, 34);
margin-left: 130px;
margin-top: 20px;
border-radius: 50%;
}
